<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ip" value="127.0.0.1"/>
    <add key="port" value="5081"/>
    <add key="DbHelperProvider" value="System.Data.SqlClient"/>
    <add key="DbHelperConnectionString" value="server=localhost;uid=sa;pwd=123;database=virtualTrain"/>
    <add key="img_path" value="\\Xlu\vr\Image"/>
    <add key="video_path" value="\\Xlu\vr\Video"/>
  </appSettings>
</configuration>